@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$gradient: linear-gradient(91.23deg, #EFC3A3 0%, #F8D9C3 100.15%);
$bg-color: #ffffff;
$font-color: #484E57;
$dark-gray: #727272;
$gray: #9C9C9C;
$light-gray: #D9D9D9;
$lightest-gray: #F8F8F8;

$color-1: #4BD3DC;
$color-2: #00DFED;
$color-3: #99D8F2;
$color-4: #ECF3F5;
$color-5: #FFC85F;
$transition: 300ms ease-in-out;
$radius: 6px;

$bp-xxl: 1399.98px;
$bp-xl: 1199.98px;
$bp-lg: 991.98px;
$bp-md: 767.98px;
$bp-sm: 575.98px;

:root {
    --h-height: 130px;
    --f-height: 300px;
    @media (max-width: $bp-xxl) {
        --h-height: 110px;
    }
    @media (max-width: $bp-xl) {
        --h-height: 100px;
    }
    @media (max-width: $bp-lg) {
        --h-height: 70px;
        --f-height: 250px;
    }
    @media (max-width: $bp-md) {
        --f-height: 400px;
    }
    @media (max-width: $bp-sm) {
        --h-height: 50px;
        --f-height: 420px;
    }
}

/* mixins */
@mixin flex($dir: row, $x: center, $y: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    justify-content: $x;
    align-items: $y;
    flex-wrap: $wrap;
}
@mixin no-appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
}
@mixin safariFix {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    isolation: isolate;
    transform: translateZ(0);
}
@mixin absBG($z: 1) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: $z;
}
@mixin clamp($count, $line, $strict: false) {
    display: -webkit-box;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: $line;
    @if $strict {
       height: $line * $count;
    } @else {
       max-height: $line * $count;
    }
}
@mixin list {
    list-style: none;
    padding-left: 0px;
}
@mixin placeholder($color, $fw: 400){
    &:-moz-placeholder, &::-moz-placeholder,
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
      color: $color;
      font-weight: $fw;
    }
    &::placeholder {
      color: $color;
      font-weight: $fw;
    }
}

/* Typography */
a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, li, address {
    line-height: 120%;
    margin-bottom: 0px;
}

h1, h2, h3 {color: #4C4C5E;}
h1 {
    font-size: 1.75em;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 1em;
    &.inner {
        font-size: 5em;
        font-weight: 700;
        @media (max-width: $bp-xxl) {
            font-size: 4em;
        }
        @media (max-width: $bp-lg) {
            font-size: 3em;
        }
        @media (max-width: $bp-md) {
            font-size: 2.5em;
        }
        @media (max-width: $bp-sm) {
            font-size: 2em;
        }
    }
    @media (max-width: $bp-xxl) {
        font-size: 1.5em;
    }
    @media (max-width: $bp-xl) {
        font-size: 1.25em;
    }
    @media (max-width: $bp-sm) {
        font-size: 1em;
    }
}
h2 {
    font-size: 3.75em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1em;
    @media (max-width: $bp-xl) {
        font-size: 2.75em;
    }
    @media (max-width: $bp-lg) {
        font-size: 2.25em;
    }
    @media (max-width: $bp-md) {
        font-size: 1.75em;
    }
    @media (max-width: $bp-sm) {
        font-size: 1.5em;
    }
}
h3, .h3 {
    font-size: 2.8em;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5em;
    @media (max-width: $bp-xl) {
        font-size: 2.5em;
    }
    @media (max-width: $bp-lg) {
        font-size: 2em;
    }
    @media (max-width: $bp-md) {
        font-size: 1.5em;
    }
    @media (max-width: $bp-sm) {
        font-size: 1.25em;
    }
}
h4 {
    font-size: 1.5em;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;
    @media (max-width: $bp-md) {
        font-size: 1.3em;
    }
    @media (max-width: $bp-sm) {
        font-size: 1.2em;
    }
}
h5 {
    font-size: 1.25em;
    text-align: left;
    font-weight: 500;
    margin-bottom: 1em;
    @media (max-width: $bp-md) {
        font-size: 1.15em;
    }
    @media (max-width: $bp-sm) {
        font-size: 1.1em;
    }
}
h6 {
    font-size: 1em;
    text-align: left;
    font-weight: 400;
    margin-bottom: 1em;
    @media (max-width: $bp-md) {
        font-size: 1em;
    }
}
.fs {
    &-07 {font-size: 0.7em;}
    &-75 {font-size: 0.75em;}
    &-875 {font-size: 0.875em;}
    &-09 {font-size: 0.9em;}
    &-10 {font-size: 1em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-c {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
    &-25 {font-size: 2.5em;}
    &-30 {font-size: 3em;}
    &-35 {font-size: 3.5em;}
    &-40 {font-size: 4em;}
}
.fw {
    &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}
.font-color {color: $font-color;}
.accent {color: $color-1;}
.gray {color: $gray;}
.red {color: $color-5;}
.lh-9 {line-height: 90%;}

/* Form elements */
input, textarea {
    background-color: $bg-color;
    border: 1px solid $light-gray;
    border-radius: $radius;
    padding: 0.8em 1.6em;
    width: 100%;
    outline: none;
    display: block;
    transition: $transition;
    @include placeholder(#B4B4B4, 300);
}
input{
    &[type='checkbox']{
        @include no-appearance;
        width: 1.1em;
        height: 1.1em;
        border: 1px solid $gray;
        background-color: #fff;
        border-radius: 0px;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        transition: $transition;
        background-color: #fff;
        background-image: url(../imgs/icons/mark.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80%;
        &:checked {
            border: 1px solid $color-1;
            background-color: $color-1;
        }
    }
    &[type='radio']{
        @include no-appearance;
        width: 1.1em;
        height: 1.1em;
        border: 1px solid $gray;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        transition: $transition;
        background-color: #fff;
        background-image: url(../imgs/icons/mark.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80%;
        &:checked {
            border: 1px solid $color-1;
            background-color: $color-1;
        }
    }
}
label {
    @include flex(row, flex-start, center, nowrap);
    span {
        flex:1;
        margin-left: .6em;
        padding-top: .1em;
    }
}
button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
}
.btn {
    @include flex(row, center, center, nowrap);
    padding: 1.5em 3em;
    text-align: center;
    transition: $transition;
    width: fit-content;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: $radius;
    line-height: 90%;
    @media (max-width: $bp-xxl) {
        padding: 1.2em 2em;
    }
    &-1 {
        @extend .btn;
        border: none;
        color: $bg-color;
        background: $color-1;
        box-shadow: 0px 3px 2px #AECCD9;
        &:hover, &:focus, &.active {
            color: $bg-color;
            background-color: $color-2;
            box-shadow: none;
        }
        &:active {
            color: $bg-color;
            background: $color-1;
            box-shadow: inset 0px 3px 2px #AECCD9;
        }
    }
    &-2 {
        @extend .btn;
        border: none;
        color: $dark-gray;
        background: $color-4;
        &:hover, &:focus, &.active {
            color: $bg-color;
            background-color: $color-2;
            box-shadow: none;
        }
        &:active {
            color: $bg-color;
            background: $color-1;
            box-shadow: inset 0px 3px 2px #AECCD9;
        }
    }
    &-3 {
        @extend .btn;
        border: none;
        color: $gray;
        background: $bg-color;
        &:hover, &:focus, &.active {
            color: $bg-color;
            background-color: $color-2;
            box-shadow: none;
        }
        &:active {
            color: $bg-color;
            background: $color-1;
            box-shadow: inset 0px 3px 2px #AECCD9;
        }
    }
    &-4 {
        @extend .btn;
        border: none;
        color: $bg-color;
        background: $color-1;
        &:hover, &:focus, &.active {
            color: $bg-color;
            background-color: $color-2;
        }
        &:active {
            color: $bg-color;
            background: $color-3;
        }
    }
    &-5 {
        @extend .btn;
        border: none;
        color: $font-color;
        background: $color-5;
        box-shadow: 0px 3px 2px #AECCD9;
        &:hover, &:focus, &.active {
            color: $bg-color;
            background-color: $color-2;
            box-shadow: none;
        }
        &:active {
            color: $bg-color;
            background: $color-1;
            box-shadow: inset 0px 3px 2px #AECCD9;
        }
    }
    &-6 {
        @extend .btn;
        border: 2px solid $color-1;
        color: $color-1;
        background: $bg-color;
        &:hover, &:focus, &.active {
            color: $bg-color;
            background-color: $color-2;
        }
        &:active {
            color: $bg-color;
            background: $color-3;
        }
    }
}

.slider-range {
    --size: 3px;
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(var(--size)*6);
    text-align: left;
    margin: 2em 0px 1em;
    &-visual {
        position: absolute;
        width: calc(100% - var(--size));
        left: 0px;
        right: var(--size);
        height: calc(var(--size)*6);
        [inverse-left] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: var(--size);
            background-color: $light-gray;
        }
        [inverse-right] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: var(--size);
            background-color:$light-gray;
        }
        [range] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: var(--size);
            background-color: $color-1;
        }
        [thumb] {
            position: absolute;
            top: 0px;
            z-index: 2;
            height: calc(var(--size)*6);
            width: calc(var(--size)*2);
            text-align: left;
            cursor: pointer;
            background-color: $color-1;
            outline: none;
            &.end {
                transform: translateX(-100%);
            }
        }
        [sign] {
            opacity: 0;
            position: absolute;
            margin-left: -12.5px;
            top: -2em;
            z-index: 3;
            color: $color-1;
            width: 28px;
            height: 28px;
            border-radius: 28px;
            -webkit-border-radius: 28px;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
            text-align: center;
            span {
                font-size: 12px;
                font-weight: 700;
                line-height: 28px;
            }
        }
    }
    input[type="range"] {
        padding: 0px;
        position: absolute;
        pointer-events: none;
        @include no-appearance();
        z-index: 3;
        height: calc(var(--size)*6);
        top: 0px;
        width: 100%;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        &::-ms-track {
            -webkit-appearance: none;
            background: transparent;
            color: transparent;
        }
        &::-moz-range-track {
            -moz-appearance: none;
            background: transparent;
            color: transparent;
        }
        &:focus::-webkit-slider-runnable-track {
            background: transparent;
            border: transparent;
        }
        &:focus {
            outline: none;
        }
        &::-ms-thumb {
            pointer-events: all;
            width: 28px;
            height: 28px;
            border-radius: 0px;
            border: 0 none;
            background: red;
        }
        &::-moz-range-thumb {
            pointer-events: all;
            width: 28px;
            height: 28px;
            border-radius: 0px;
            border: 0 none;
            background: red;
        }
        &::-webkit-slider-thumb {
            pointer-events: all;
            width: 28px;
            height: 28px;
            border-radius: 0px;
            border: 0 none;
            background: red;
            -webkit-appearance: none;
        }
        &::-ms-fill-lower {
            background: transparent;
            border: 0 none;
        }
        &::-ms-fill-upper {
            background: transparent;
            border: 0 none;
        }
        &::-ms-tooltip {
            display: none;
        }
    }
    &:hover > .slider-range-visual > [sign] {
        opacity: 1;
    }
}


.form-search {
    position: relative;
    font-size: .75em;
    input {
        position: relative;
        z-index: 1;
        border-radius: 2em;
        padding-right: 3em;
    }
    button {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        z-index: 10;
        width: 3em;
        @include flex();
    }
}

.flex-1 {flex: 1;}
.mb-8 {
    margin-bottom: 8em;
    @media (max-width: $bp-sm) {
        margin-bottom: 4em;
    }
}
@media (max-width: $bp-sm) {
    .w-xs-100 {width: 100%;}
}

.pagination {
    @include list();
    @include flex(row, flex-end, center, wrap);
    @media (max-width: $bp-lg) {
        justify-content: center;
    }
    li {
        margin-bottom: .5em;
        &:not(:first-child){
            margin-left: 1.4em;
            @media (max-width: $bp-lg) {
                margin-left: .7em;
            }
        }
        a, button {
            @include flex();
            background-color: transparent;
            color: #7B7B8F;
            border: 1px solid #7B7B8F;
            font-size: .875em;
            min-width: 1.5em;
            height: 2em;
            padding: 0.2em 0.5em 0.1em;
            transition: $transition;
            &:hover, &:focus {
                color: $color-1;
                border: 1px solid $color-1;
            }
            &:active, &.active {
                border: 1px solid $color-1;
                background-color: $color-1;
                color: $bg-color;
            }
        }
    }
}
.breadcrumb {
    color: $gray;
    font-size: .75em;
    margin-bottom: 2em;
    .breadcrumb-item+.breadcrumb-item::before {
        content: '-';
    }
}


body {
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 400;
    @media (max-width: $bp-lg) {
        font-size: 14px;
    }
}

header {
    position: relative;
    z-index: 100;
    background-color: $color-1;
    color: $bg-color;
    height: var(--h-height);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
    @include flex(column, center, center, nowrap);
    nav {
        ul {
            @include list();
            @include flex();
            li {
                padding: 1em 0;
                &:not(:first-child){
                    margin-left: 2.25em;
                }
                a {
                    display: block;
                    color: $bg-color;
                    font-size: .875em;
                    transition: $transition;
                    border-bottom: 1px solid transparent;
                    @media (max-width: $bp-lg) {
                        padding: .5em;
                    }
                    &:hover, &:focus, &:active, &.active {
                        color: $bg-color;
                        border-color: $bg-color;
                    }
                }
            }
            li.hover-li {
                position: relative;
                ul.hover-menu {
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    width: 450px;
                    background-color: $bg-color;
                    border-radius: $radius;
                    padding: 1.25em;
                    @include flex(row, flex-start, flex-start, wrap);
                    display: none;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 100%;
                        left: 1em;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 9px solid $bg-color;
                    }
                    li {
                        width: calc(100% / 3);
                        margin: 0px;
                        padding: .25em;
                        a {
                            color: $font-color;
                            font-size: .75em;
                            font-weight: 300;
                            transition: $transition;
                            &:hover, &:focus {
                                color: $color-1;
                            }
                        }
                    }
                }
                &:hover {
                    ul.hover-menu {
                        display: flex;
                    }
                }
            }
        }
        
    }
    input[type="search"]{
        border: none;
        border-radius: 2em;
        background-color: rgba($bg-color, .2);
        @include placeholder($bg-color, 300);
    }
    .btn-3 {
        width: 2.2em;
        height: 2.2em;
        border-radius: 50%;
        img {
            width: 1.2em;
            height: 1.2em;
            object-fit: contain;
        }
        @media (max-width: $bp-lg) {
            font-size: 14px;
        }
    }
}
.logo {
    @include flex(row, flex-start, center, nowrap);
    img {
        max-width: 120px;
        @media (max-width: $bp-xl) {
            max-width: 100px;
        }
        @media (max-width: $bp-lg) {
            max-height: 35px;
        }
        @media (max-width: $bp-sm) {
            max-height: 25px;
        }
    }
    hr {
        background-color: $bg-color;
        height: 32px;
        width: 1px;
        border: none;
        margin: 0px 1em;
        opacity: 1;
    }
    h6 {
        color: $bg-color;
        font-size: 10px;
        font-weight: 500;
    }
}

main {
    min-height: calc(100vh - var(--h-height) - var(--f-height));
    padding-bottom: 1em;
}

.sec-1 {
    padding: 5em 0 0;
    position: relative;
    height: 890px;
    background-image: url(../imgs/bg/background1.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    background-color: rgba($bg-color, .5);
    @include flex(column, flex-start, stretch, nowrap);
    @media (max-width: $bp-xl) {
        padding: 3em 0 0;
        height: 780px;
    }
    @media (max-width: $bp-lg) {
        height: fit-content;
        background-position: left center;
    }
    @media (max-width: $bp-md) {
        .fs-15 {font-size: 1.2em;}
    }
    @media (max-width: $bp-sm) {
        font-size: 10px;
    }
    .icon {
        height: 1em;
        width: auto;
        @media (max-width: $bp-md) {
            height: .5em;
        }
    }
    h1 {
        span {
            font-size: 2.75em;
            font-weight: 800;
        }
    }
    .num {
        font-size: 4.8em;
        font-weight: 800;
        @media (max-width: $bp-xl) {
            font-size: 4em;
        }
    }
    .bottom {
        background-color: $font-color;
        color: $bg-color;
    }
    .links {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 44%;
        @include flex(row, flex-end, stretch, wrap);
        box-shadow: -4px -4px 26px rgba(0, 0, 0, 0.07);
        border-radius: $radius 0 0 0;
        overflow: hidden;
        @include safariFix();
        @media (max-width: $bp-lg) {
            width: fit-content;
        }
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: scale-down;
            position: relative;
            z-index: 1;
        }
        .icon-08 {
            position: absolute;
            top: 1em;
            height: .8em;
            z-index: 2;
        }
        .link-1 {
            width: 50%;
            height: 220px;
            @include flex();
            background-color: $bg-color;
            position: relative;
            @media (max-width: $bp-xxl) {
                height: 180px;
            }
            .icon-08 {
                right: 1em;
            }
        }
        .link-2 {
            width: 50%;
            @include flex();
            background-color: $color-2;
            color: $bg-color;
            font-size: 1.75em;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            @media (max-width: $bp-lg) {
                height: 220px;
                width: 280px;
            }
        }
        .link-3 {
            position: relative;
            height: 320px;
            width: 100%;
            @include flex();
            background-color: $color-1;
            @media (max-width: $bp-xxl) {
                height: 240px;
            }
            .icon-08 {
                left: 1em;
            }
        }
    }
}

.sec-2 {
    figure {
        position: relative;
        height: 500px;
        background: linear-gradient(81.2deg, #ECF3F5 1.35%, rgba(236, 243, 245, 0.44) 28.78%);
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.05);
        border-radius: $radius*3;
        overflow: hidden;
        @include safariFix();
        @media (max-width: $bp-xxl) {
            height: 450px;
        }
        @media (max-width: $bp-xl) {
            height: 415px;
        }
        @media (max-width: $bp-lg) {
            height: 350px;
        }
        @media (max-width: $bp-md) {
            height: 270px;
        }
        @media (max-width: $bp-sm) {
            height: 250px;
            border-radius: $radius;
        }
        img {
            @include absBG(0);
            object-fit: cover;
            object-position: left center;
        }
        figcaption {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 10;
            @include flex(column, space-between, flex-start, nowrap);
            padding: 4em 6em;
            p {
                color: $gray;
                @media (max-width: $bp-sm) {
                    color: $font-color;
                }
            }
            @media (max-width: $bp-lg) {
                padding: 2em 4em;
            }
            @media (max-width: $bp-md) {
                padding: 2em 3em;
            }
        }
    }
    .swiper-1 {
        position: relative;
        overflow: visible;
        padding-bottom: 2.5em;
    }
}
.swiper-pagination {
    position: absolute;
    bottom: 0px;
    &-bullet {
        width: .625em;
        height: .625em;
        border-radius: 50%;
        background-color: $light-gray;
        transition: $transition;
        opacity: 1;
        margin: 0px !important;
        &:not(:first-child){margin-left: 25px !important;}
        &-active {
            background-color: $color-3;
        }
    }
}

.sec-3 {
    .icon {
        background-color: $color-1;
        border-radius: $radius;
        padding: .25em;
    }
    @media (max-width: $bp-sm) {
        .btn-2 {
            font-size: 10px;
            padding: .7em 1em;
        }
    }
}
.product {
    background-color: $bg-color;
    box-shadow: -4px -4px 21px rgba(0, 0, 0, 0.07);
    border-radius: $radius;
    overflow: hidden;
    @include safariFix();
    position: relative;
    .img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 240px;
        object-fit: scale-down;
        background: $bg-color;
        padding: 3em 2em 1.5em;
        @media (max-width: $bp-xxl) {
            height: 210px;
        }
        @media (max-width: $bp-xl) {
            height: 180px;
        }
        @media (max-width: $bp-sm) {
            height: 65vw;
        }
    }
    figcaption {
        background-color: $font-color;
        color: $bg-color;
        padding: 1em;
        h6 {
            @include clamp(2, 1.2em, true);
        }
        button {
            padding: 1em;
        }
    }
    .mark {
        position: absolute;
        top: 1.25em;
        right: .625em;
        z-index: 10;
        width: 10em;
        height: 2.6em;
        text-transform: uppercase;
        font-size: .75em;
        font-weight: 600;
        color: $bg-color;
        background-color: $color-1;
        border-radius: $radius;
        @include flex();
        &.hit {background-color: $color-5;}
    }
}
.filter {
    width: 100%;
    background: $bg-color;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: $radius;
    font-size: .875em;
    padding: 2em;
    color: $gray;
    @media (max-width: $bp-xl) {
        padding: 1em;
    }
    @media (max-width: $bp-lg) {
        box-shadow: none;
        padding: 0em;
    }
    fieldset {
        margin-bottom: 1em;
        legend {
            font-size: 1.1em;
            font-weight: 600;
            margin-bottom: .5em;
        }
    }
    .btn-1 {font-size: 1em;}
}

.sec-4 {
    ul {
        counter-reset: my-counter;
        li {
            counter-increment: my-counter;
            position: relative;
            &::before {
                content: "0"counter(my-counter);
                position: absolute;
                z-index: 10;
                top: 1em;
                left: 1em;
                font-size: 2.5em;
                font-weight: 700;
                color: rgba($bg-color, .35);
            }
            .card {
                position: relative;
                z-index: 1;
                border-radius: $radius;
                border: none;
                width: 100%;
                height: 240px;
                @include flex(column, flex-end, flex-start, nowrap);
                padding: 1.5em;
                background-repeat: no-repeat;
                @media (max-width: $bp-lg) {
                    height: 220px;
                }
                h6 {
                    font-size: 1.15em;
                    font-weight: 500;
                    margin-bottom: .5em;
                }
                &-1 {
                    background-image: url(../imgs/plus1.png), linear-gradient(288.82deg, #EAEAEA 3.04%, rgba(234, 234, 234, 0.85) 99%);
                    background-size: auto , 100% 100%;
                    background-position: 90% 20%, center;
                    @media (min-width: 1200px) {
                        padding-right: 25%;
                    }
                }
                &-2 {
                    background-color: $color-1;
                    background-image: url(../imgs/plus2.png);
                    background-size: auto;
                    background-position: 90% 00%;
                    color: $bg-color;
                    @media (min-width: 1200px) {
                        padding-right: 25%;
                    }
                }
                &-3 {
                    background-image: linear-gradient(68.47deg, #DBFDFF 0.83%, rgba(255, 255, 255, 0.58) 71.12%), url(../imgs/plus3.png);
                    background-size: cover;
                    background-position: center;
                    @media (min-width: 1200px) {
                        padding-right: 10%;
                    }
                }
                &-4 {
                    background: linear-gradient(258.97deg, #E6FDFF 23.25%, rgba(255, 255, 255, 0.4) 75.09%), url(../imgs/plus4.png);
                    background-size: cover;
                    background-position: center;
                    padding-bottom: 2.5em;
                    @media (min-width: 1200px) {
                        padding-right: 30%;
                    }
                }
                &-5 {
                    background: url(../imgs/plus5.png), linear-gradient(97.82deg, #EAEAEA 1.85%, rgba(234, 234, 234, 0.51) 99.5%);
                    background-size: cover;
                    background-position: right center;
                    padding-bottom: 2.5em;
                    @media (min-width: 992px) {
                        padding-right: 35%;
                    }
                    @media (max-width: $bp-lg) {
                        background-blend-mode: overlay;
                    }
                }
            }
        }
    }
}

.sec-5 {
    .review {
        position: relative;
        background: url(../imgs/bg/circle.svg) no-repeat $bg-color;
        background-position: -45% 50%;
        background-size: auto;
        box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.08);
        // filter: drop-shadow(-4px -4px 20px rgba(0, 0, 0, 0.08));
        border-radius: $radius*1.5;
        padding: 2em 2em 2em 35%;
        height: 265px;
        @include flex(column, space-between, stretch, nowrap);
        font-size: .8em;
        @media (max-width: $bp-xxl) {
            background-position: -60% 50%;
        }
        @media (max-width: $bp-lg) {
            height: 210px;
            background-position: -70% 50%;
            background-size: auto 101%;
        }
        @media (max-width: $bp-md) {
            height: 430px;
            background-position: 50% -150px;
            background-size: 65% auto;
            padding: 35% 2em 4em 2em;
            align-items: center;
        }
        @media (max-width: $bp-sm) {
            height: 400px;
        }
        &::before {
            content: '';
            background: url(../imgs/icons/coma.png) no-repeat;
            background-size: contain;
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translate(-35%, -50%);
            height: 130px;
            width: 130px;
            @media (max-width: $bp-md) {
                top: 0px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            bottom: -10%;
            left: 5%;
            width: 90%;
            height: 10%;
            background-color: $bg-color;
            border-radius: 0 0 $radius*1.5 $radius*1.5;
            box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.08);
            @media (max-width: $bp-md) {
                content: unset;
            }
        }
    }
    .swiper-reviews {
        position: relative;
        padding: 6em 0 4em;
        @media (max-width: $bp-lg) {
            padding: 8em 0 4em;
        }
        @media (max-width: $bp-md) {
            padding: 6em 0 1em;
        }
        .swiper-slide {
            width: 43%;
            transition: $transition;
            position: relative;
            z-index: 1;
            overflow: visible;
            @media (max-width: $bp-xl) {
                width: 50%;
            }
            @media (max-width: $bp-md) {
                width: 100%;
                padding: 0 4em;
            }
            @media (max-width: $bp-sm) {
                padding: 0;
            }
            &-active {
                z-index: 10;
            }
        }
        .swiper-pagination {
            bottom: 2em !important;
        }
        .swiper-button-prev, .swiper-button-next {
            top: 50%;
            z-index: 20;
            transition: $transition;
            @include flex();
            @media (max-width: $bp-md) {
                display: none;
            }
            &::after {
                color: $color-1;
                font-size: 1em;
                font-size: 1.5em;
                font-weight: 700;
            }
            &:hover, &:focus {
                &::after {
                    color: $color-2;
                }
            }
        }
        .swiper-button-prev {
            left: 0px;
        }
        .swiper-button-next {
            right: 0px;
        }
    }
}

.sec-6 {
    .question {
        background-color: $color-1;
        color: $bg-color;
        border-radius: $radius;
        overflow: hidden;
        @include safariFix();
        padding: 1em 1.2em;
        button {
            background-color: $color-1;
            font-size: 1.1em;
            font-weight: 500;
            color: $bg-color;
            width: 100%;
            @include flex(row, space-between, center, nowrap);
            transition: $transition;
            @media (max-width: $bp-lg) {
                font-size: 1em;
            }
            span:first-child {
                flex: 1;
                text-align: left;
            }
            .punctuation {
                background-color: $bg-color;
                width: 2.5em;
                height: 2.5em;
                border-radius: 50%;
                @include flex();
                transition: $transition;
                margin-left: .5em;
                @media (max-width: $bp-lg) {
                    font-size: 1em;
                }
            }
        }
        .answer {
            border-top: 1px solid $bg-color;
            margin-top: 1em;
            padding: 1.25em .5em;
            @media (max-width: $bp-lg) {
                padding: 1em 1.5em;
            }
            p, ol {
                &:not(:last-child){margin-bottom: 1em;}
            }
        }
    }
}

.sec-7 {
    .category-card {
        position: relative;
        filter: drop-shadow(-2.24528px -2.24528px 9.72956px rgba(0, 0, 0, 0.07));
        background-color: $bg-color;
        border-radius: $radius*2 $radius*2 0px 0px;
        figure {
            padding: 2em 1em;
            @media (max-width: $bp-lg) {
                padding: 1.5em 1em;
            }
            figcaption {
                margin-bottom: .5em;
                h5 {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 0px;
                    @include clamp(2, 1.2em, true);
                }
            }
            img {
                width: 100%;
                height: 145px;
                object-fit: scale-down;
                @media (max-width: $bp-xxl) {
                    height: 135px;
                }
                @media (max-width: $bp-lg) {
                    height: 125px;
                }
            }
        }
        .btn-4 {
            width: 100%;
            border-radius: 0px;
            @include flex(row, center, center, nowrap);
            div {padding-top: .25em;}
        }
    }
}

.sec-8 {
    .swiper-photo {
        img {
            width: 100%;
            height: 500px;
            object-fit: scale-down;
            background-color: $lightest-gray;
            padding: 1em;
            @media (max-width: $bp-xl) {
                height: 350px;
            }
            @media (max-width: $bp-lg) {
                height: 260px;
            }
            @media (max-width: $bp-md) {
                height: 460px;
            }
            @media (max-width: $bp-sm) {
                height: 90vw;
            }
        }
        .swiper-button-prev, .swiper-button-next {
            &::after {content: none;}
            @include flex();
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            background-color: $bg-color;
            color: $color-1;
            svg {
                font-size: 1.3em;
            }
        }
        .swiper-button-prev {left: 1em;}
        .swiper-button-next {right: 1em;}
    }
    .swiper-thumbs {
        img {
            width: 100%;
            height: 100px;
            object-fit: scale-down;
            background-color: $lightest-gray;
            padding: .5em;
            @media (max-width: $bp-xl) {
                height: 80px;
            }
            @media (max-width: $bp-lg) {
                height: 60px;
            }
            @media (max-width: $bp-md) {
                height: 100px;
            }
            @media (max-width: $bp-sm) {
                height: 27vw;
            }
        }
    }
    h4 {
        text-transform: uppercase;
        font-size: 1.6em;
    }
    h5 {
        text-transform: uppercase;
        font-weight: 600;
    }
    label {
        width: 100%;
        height: 100%;
        .clickable {
            width: 100%;
            height: 100%;
            @include flex(row, space-between, center, nowrap);
            background-color: $lightest-gray;
            color: $gray;
            padding: 1em;
        }
        .clickable-2 {
            width: 100%;
            height: 100%;
            @include flex(row, flex-start, center, nowrap);
            background-color: $lightest-gray;
            color: $gray;
            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
            }
            div {padding: 0 1em;}
        }
        input {
            display: none;
            &:checked + div {
                background-color: $color-1;
                color: $bg-color;
            }
        }
    }
    .construction-list {
        @include list();
        @include flex(row, flex-start, flex-start, wrap);
        li {
            color: $color-1;
            font-size: .9em;
            text-transform: uppercase;
            font-weight: 600;
            border: 2.5px solid $color-1;
            background-color: $bg-color;
            border-radius: $radius*5;
            padding: 1.3em 2em;
            margin-bottom: 1em;
            @media (max-width: $bp-md) {
                font-size: .7em;
                padding: 1em 1.5em;
            }
            &:not(:last-child) {margin-right: 1em;}
            &.active {
                color: $bg-color;
                border: 2.5px solid $color-1;
                background-color: $color-1;
            }
        }
    }
    .specification {
        height: 100%;
        border: 1px solid #000;
        border-radius: $radius;
        padding: 1em;
        @include flex(row, flex-start, stretch, nowrap);
        font-weight: 600;
        font-size: .9em;
        text-transform: uppercase;
        color: $dark-gray;
        @media (max-width: $bp-lg) {
            padding: .75em;
        }
        @media (max-width: $bp-sm) {
            font-size: .75em;
            padding: .75em .25em;
        }
        div {
            padding: .5em 1em;
            @media (max-width: $bp-lg) {
                padding: .5em .75em;
            }
            &:nth-child(1) {
                width: 60%;
            }
            &:nth-child(2) {
                width: 40%;
                border-left: 1px solid #000;
                @media (min-width: 992px) {
                    padding-left: 2em;
                }
            }
        }
    }
}

.sec-9 {
    @media (max-width: $bp-xl) and (min-width: $bp-md) {
        .product {
            font-size: .9em;
        }
    }
}
.swiper-3 {
    position: unset;
    padding: 1em 0;
    .swiper-button-prev, .swiper-button-next {
        &::after {content: none;}
        font-size: 1.5em;
        color: $color-1;
    }
    .swiper-button-prev {
        left: -1.5em;
        @media (max-width: $bp-xl) {
            left: 0px;
        }
    }
    .swiper-button-next {
        right: -1.5em;
        @media (max-width: $bp-xl) {
            right: 0px;
        }
    }
}

.sec-10 {
    color: #575757;
}
.cart-list {
    @include list();
    li {
        &.top {
            text-transform: uppercase;
            @media (max-width: $bp-md) {
                display: none;
            }
        }
        &:not(:first-child){margin-top: 1em;}
        display: grid;
        grid-template-columns: 45px auto 120px 130px;
        grid-template-rows: 1fr;
        gap: 1em;
        grid-template-areas: "img title price quantity";
        padding: .75em 0;
        font-size: .875em;
        font-weight: 600;
        border-bottom: 1px solid #6B6B6B;
        @media (max-width: $bp-lg) {
            grid-template-columns: 45px auto 100px 130px;
        }
        @media (max-width: $bp-md) {
            grid-template-columns: 45px calc(50% - 45px) 1fr;
            grid-template-rows: auto 30px;
            grid-template-areas: 
            "img title title"
            "quantity quantity price";
        }
        &>div {
            @include flex(column, center, flex-start, nowrap);
        }
        .img {
            grid-area: img;
            img {
                width: 45px;
                height: 45px;
                object-fit: contain;
                border: 1px solid #6B6B6B;
                padding: .1em;
            }
        }
        .title {
            grid-area: title;
        }
        .price {
            grid-area: price;
            @media (max-width: $bp-md) {
                align-items: flex-end;
            }
        }
        .quantity {
            grid-area: quantity;
            align-items: center;
            &-group {
                @include flex();
                button {padding: .5em;}
                input {
                    @include no-appearance();
                    width: 40px;
                    padding: .5em 0px;
                    border: none;
                    text-align: center;
                    &::-webkit-outer-spin-button, 
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }
        }
    }
    &-noimg {
        @extend .cart-list;
        li {
            grid-template-columns: auto 100px 70px;
            grid-template-areas: "title price quantity";
            @media (max-width: $bp-lg) {
                grid-template-columns: auto 100px 70px;
            }
            @media (max-width: $bp-md) {
                grid-template-columns: auto 100px;
                grid-template-rows: auto 20px;
                grid-template-areas: 
                "title title"
                "quantity price";
            }
        }
    }
}
.product-list {
    @include list();
    font-size: .875em;
    font-weight: 600;
    li {
        padding: .75em .25em;
        border-bottom: 1px solid #6B6B6B;
        @include flex(row, space-between, center, nowrap);
        div:last-child {margin-left: .5em;}
    }
}

.sec-11 {
    padding-top: 7em;
    @media (max-width: $bp-md) {
        padding-top: 4em;
    }
    ul {
        @include list();
        font-size: 1.35em;
        text-transform: uppercase;
        border-left: 4px solid $color-1;
        padding-left: 1em;
        li {
            &:not(:first-child){
                margin-top: 1em;
            }
        }
    }
    form {
        @media (max-width: $bp-lg) {
            background: $bg-color;
            box-shadow: 0px 0px 7.1347px rgba(0, 0, 0, 0.12);
            border-radius: $radius;
            padding: 2em;
        }
        @media (max-width: $bp-lg) {
            padding: 1em;
        }
    }
}

.sec-404 {
    min-height: inherit;
}

footer {
    height: var(--f-height);
    padding: 3em 0;
    background-color: $font-color;
    color: $bg-color;
    font-size: .875em;
    @media (max-width: $bp-md) {
        padding: 2em 0;
    }
    .footer-grid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "area1 area1 area1 area1 area1 . area4 area4 area4 area4 area5 area5"
        "area2 area2 area2 area2 area2 . area4 area4 area4 area4 area7 area7"
        "area3 area3 area3 area3 area3 . area4 area4 area4 area4 area6 area6";
        @media (max-width: $bp-xl) {
            grid-template-areas: 
            "area1 area1 area1 area1 area1 area4 area4 area4 area4 area5 area5 area5"
            "area2 area2 area2 area2 area2 area4 area4 area4 area4 area7 area7 area7"
            "area3 area3 area3 area3 area3 area4 area4 area4 area4 area6 area6 area6";
        }
        @media (max-width: $bp-lg) {
            grid-template-areas: 
            "area1 area1 area1 area1 area4 area4 area4 area4 area4 area5 area5 area5"
            "area2 area2 area2 area2 area4 area4 area4 area4 area4 area7 area7 area7"
            "area3 area3 area3 area3 area4 area4 area4 area4 area4 area6 area6 area6";
        }
        @media (max-width: $bp-md) {
            grid-template-columns: 1fr;
            grid-template-areas: "area1" "area5" "area4" "area2" "area7" "area6";
            gap: .5em;
        }
    }
    
    .grid-1 {
        grid-area: area1;
        @media (max-width: $bp-md) {
            @include flex(column, flex-start, center, nowrap);
        }
    }
    .grid-2 {
        grid-area: area2;
        @media (max-width: $bp-md) {
            @include flex(row, center, center, nowrap);
        }
    }
    .grid-3 {
        grid-area: area3;
        @include flex(column, flex-end, flex-start, nowrap);
        @media (max-width: $bp-md) {
            text-align: center;
            display: none;
        }
    }
    .grid-4 {
        grid-area: area4;
        @include flex(row, space-evenly, flex-start, nowrap);
    }
    .grid-5 {
        grid-area: area5;
        @media (max-width: $bp-md) {
            form {
                width: 70%;
                font-size: 1.2em;
                margin: auto;
            }
        }
    }
    .grid-6 {
        grid-area: area6;
        @include flex(row, flex-end, flex-end, nowrap);
        @media (max-width: $bp-md) {
            justify-content: center;
        }
    }
    .grid-7 {
        grid-area: area7;
        font-size: 1.5em;
        .btn-4 {padding: .3em;}
        @media (max-width: $bp-md) {
            @include flex(row, center, center, nowrap);
        }
    }
    .phone-link {
        display: block;
        background-color: $color-1;
        color: $bg-color;
        border-radius: $radius*3;
        width: fit-content;
        padding: .5em 2em;
        font-weight: 500;
        transition: $transition;
        &:hover, &:focus, &:active {
            background-color: $color-2;
        }
    }
    .menu {
        li:not(:first-child){margin-top: .75em;}
    }
    .form-search {
        button {color: $font-color;}
    }
}

.modal {
    &-dialog {
        max-width: 555px;
    }
    &-content {
        background-color: $bg-color;
        border-radius: $radius;
        border: none;
        padding: 2.5em;
        position: relative;
        @media (max-width:$bp-sm) {
            padding: 1em;
        }
        h3 {
            font-size: 2em;
            @media (max-width: $bp-lg) {
                font-size: 1.8em;
            }
            @media (max-width: $bp-md) {
                font-size: 1.5em;
            }
            @media (max-width: $bp-sm) {
                font-size: 1.3em;
            }
        }
    }
    &-body {padding: 1em;}
}
.close {
    background: none;
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 10;
    font-size: 1.5em;
    color: $light-gray;
    @include flex();
    padding: 0px;
    opacity: 1;
    transition: $transition;
    &:hover, &:focus, &:active {
        color: $color-5;
    }
}

.offcanvas {
    max-width: 90%;
    &-lg {
        max-width: 90%;
    }
    &-end {
        .close {
            left: unset;
            right: 1.5em;
        }
    }
    &-body {
        position: relative;
        z-index: 1;
        padding: 0px;
        font-size: 16px;
        .form-search {
            font-size: 1em;
            background: #FFFFFF;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05);
            position: relative;
            z-index: 10;
            input {
                padding: 1.2em 3em 1.2em 1.5em;
                border: none;
                border-radius: 0px;
            }
            button {
                color: $gray;
                font-size: 1.2em;
            }
        }
        nav {
            ul {
                @include list();
                li {
                    &:first-child {
                        border-top: 1px solid #EDEDED;
                    }
                    border-bottom: 1px solid #EDEDED;
                    a {
                        display: block;
                        font-size: 1em;
                        padding: 1em 2em;
                        color: $font-color;
                        font-weight: 800;
                        &.active {
                            color: $color-1;
                        }
                    }
                }
            }
        }
        .nav-tabs {
            position: relative;
            z-index: 1;
            border-bottom: none;
            @include flex();
            button {
                width: 50%;
                background-color: #F6F6F6;
                border-radius: 0px;
                border: none;
                border-bottom: 2px solid transparent;
                font-size: 1em;
                padding: 1em 0;
                color: $font-color;
                font-weight: 800;
                text-transform: uppercase;
                transition: $transition;
                &.active{
                    border-bottom: 2px solid $color-1;
                    background-color: #EDEDED;
                }
            }
        }
    }
    .close {
        left: 102%;
        right: unset;
    }
}